name: Test

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  # schedule:
  #   - cron: 0 20 * * *

jobs:
  test:
    name: test on ${{ matrix.os-release }} node@${{ matrix.node-version }}
    runs-on: ${{ matrix.os-release }}

    strategy:
      matrix:
        node-version:
          - 20
          - 21
          - 22
        os-release:
          - ubuntu-latest
          - windows-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run test

  coverage:
    name: collect coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version-file: package.json

      - run: npm ci

      - run: npm run test:unit
      - uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

      # - run: rm -rf coverage

      # - run: npm run test:integration
      # - uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     flags: integration
